$top-height: 100px;

$content-wrapping-width: 1450px;




@mixin full-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

@mixin main-description {
    font-size: 40px;
    //margin-top: 40px;
    font-weight: 300;
    color: rgb(50,50,50);
}



.scroll-header-offset {
    position: absolute;
    top: -$top-height;
}


.modal-open {
    overflow: hidden;
}


.main-content-wrapper {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    width: $content-wrapping-width;
    box-sizing: border-box;
    margin: auto;
}

.main-content-spaced {
    margin-top: 50px;
    margin-bottom: 50px;
}


// HEADER STYLES

header {
    height: $top-height;
    //max-height: 20%;
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    

    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 100%;
        .header-logo-container {
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            .header-logo {
                height: 100%;
                width: auto;
            }
        }

        .header-nav {
            //background-color: white;
            color: white;
            font-weight: 300;
            height: 100%;
            display: flex;
            align-items: center;
            ul {
                li {
                    display: inline-block;
                    a {
                        padding: 10px 20px;
                        text-transform: uppercase;
                        font-size: 20px;
                        transition: background-color 0.3s;
                        &:hover {
                            background-color: rgb(30,30,30);
                        }
                    }
                }
            }
        }
    }
   


    z-index: 500;

}

.header-offset {
    height: $top-height;
}


// FOOTER STYLES

footer {
    background-color: black;
    box-shadow: 0 50vh 0 50vh black;
    color: white;

    overflow: auto;

    .footer-return-to-top {
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        padding: 10px;

        font-size: 20px;
        text-align: center;
        font-weight: 300;
        
        .footer-arrow {
            display: inline-block;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.05);
            }
            span {
                font-size: 40px;
            }
        }
    }
    
    .footer-nav {

        margin-top: 30px;

        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        font-size: 30px;
        ul {
            padding: 0;
            li {
                display: inline-block;
                font-weight: 300;
                margin: 0 15px;
            }
        }
    }

    .footer-social {

        margin-top: 30px;
        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            height: 75px;
            width: 75px;
            margin: 0 25px;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .footer-copyright {
        text-align: center;
        margin: 30px 0;
        font-size: 20px;
        font-weight: 300;
        // display: flex;
        // justify-content: center;
    }

    .footer-mtu-background {
        background-color: rgb(30,30,30);
        overflow: auto;
        .footer-mtu {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            
            img {
                height: 50px;
            }
            .footer-mtu-eoe {
                display: flex;
                align-items: center;
                border-left: solid 3px white;
                height: 50px;
                padding-left: 15px;
                margin-left: 30px;
                font-size: 15px;
            }
        }



    }


}






// HOMEPAGE STYLES

.home-video-container {
    @include full-fixed();
    //padding-top: $top-width;
    z-index: -999;
    box-sizing: content-box;
    #home-video {
        min-height: 100%;
        min-width: 100%;
    }
}

.home-video-jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

    background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));

    //pointer-events: none;
    .home-video-jumbotron-logo {
        box-sizing: content-box;
        padding: 0 30px;
        margin-bottom: 10px;
    }
    img {
        width: 900px;
        max-width: 100%; 
        max-height: 30vh;
    }
    span {
        font-size: 30px;
        font-family: pt-sans-narrow, sans-serif;
        font-weight: 300;
        
        a {
            text-decoration: underline;
            position: relative;
            pointer-events: all;
        }
    }

    .home-video-jumbotron-downarrow {
        position: absolute;
        bottom: 30px;
        font-size: 50px;
        font-weight: 300;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.2);   
        }
    }

    z-index: 0;
}

.home-mission {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .home-mission-description {
        margin-left: 50px;

        .home-mission-description-mission {
            @include main-description();
        }

        .home-mission-description-button {
            margin-top: 30px;
        }
    }
}

.home-about {

    .home-about-container {
        padding-top: 150px;
        padding-bottom: 150px;

        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        text-align: right;

        .home-about-description {
            margin-right: 50px;
            .home-about-description-text {
                @include main-description();
            }
        }

        .home-about-description-button {
            margin-top: 30px;
        }
    }



    .home-about-bg-image {
        height: 700px;

        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        box-shadow: inset 0 0 20px black;
    }
}

.home-method {
    text-align: center;
    h1 {
        //text-align: center;
    }

    .home-method-description {
        @include main-description();
        margin-bottom: 50px;
    }

    .home-method-image {
        width: 100%;
        height: 600px;
    }
}

.home-alumni {
    padding-top: 150px;
    padding-bottom: 150px;

    h1 {
        text-align: center;
    }

    .home-alumni-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        justify-content: space-around;

        .home-alumni-post {

            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 7px 7px 7px rgb(150,150,150);
            }


            display: flex;
            align-items: center;

            box-sizing: border-box;

            width: 400px;
            height: 215px;
            margin: 0 15px;
            margin-bottom: 30px;

            
            overflow: hidden;
            border: solid 5px black;
            box-shadow: 3px 3px 3px rgb(150,150,150);
            border-radius: 150px;
            position: relative;
            background-color: black;
            img {
                width: 100%;
                height: auto;
            }
            .home-alumni-post-name {
                pointer-events: none;
                position: absolute;
                padding-bottom: 15px;
                padding-top: 10px;
                bottom: 0;
                font-family: pt-sans-narrow, sans-serif;
                font-size: 30px;
                font-weight: bold;
                color: white;
                width: 100%;
                text-align: center;
                background-color: rgba(0,0,0,0.5)
            }
        }
    }
}










// GAMES STYLES

.games-outer-container {
    display: flex;
    margin-top: 20px;

    .games-years {
        .games-year {
            font-size: 20px;
            padding: 15px 30px;
            white-space: nowrap;
            transition: background-color 0.3s;
            &:hover {
                cursor: pointer;
                background-color: rgb(220,220,220);
            }
        }
        .games-year-selected {
            background-color: black;
            color: white;
            &:hover {
                background-color: black;
            }
        }
    }

    #games-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 30px;
        flex-grow: 1;
        .games-game {
            width: 515px;
            margin-bottom: 30px;
            padding: 15px;
            padding-top: 0px;
            background-color: rgb(240,240,240);

            //position: relative;

            transition: transform 0.2s, box-shadow 0.2s;
            cursor: pointer;
            transform-origin: bottom right;
            box-shadow: 3px 3px 3px rgb(180,180,180);
            //border-radius: 30px;
            &:hover {
                transform: scale(1.03);// translate(-5px, -5px);
                box-shadow: 7px 7px 7px rgb(180,180,180);
            }


            .games-game-image {
                position: relative;
                display: flex;
                justify-content: center;
                overflow: hidden;
                height: 160px;
                margin-left: -15px;
                margin-right: -15px;
                background-color: rgb(10,10,10);
                img {
                    height: 100%;
                }

                .inset-shadow {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    box-shadow: 0 0 30px rgb(30,30,30) inset;
                }
                
            }
            .games-game-title {
                margin-top: 10px;
                margin-bottom: 10px;
                //margin-bottom: 10px;
                font-size: 25px;
                text-align: center;
                font-weight: bold;
            }
            .games-game-team {
                // position: absolute;
                // bottom: 30px;
                // right: 30px;
                margin-top: 8px;
                font-size: 20px;
                color: rgb(70,70,70);
                //font-family: pt-sans-narrow, sans
                //font-weight: 300;
                text-align: center;
            }
        }
    }

    .games-container-loading {
        justify-content: center;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }


}




.games-modal-visible {
    .games-modal-inner {
        transform: scale(1);
    }
}

.games-modal-invisible {
    .games-modal-inner {
        transform: scale(0.9);
    }
}

#games-modal {

    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: fixed;

    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    z-index: 501;

    overflow-y: auto;


    .games-modal-container {

        overflow: auto;

        .games-modal-inner {
            position: relative;
            background-color: white;
    
            box-sizing: border-box;
    
            width: 800px;
            max-width: 90%;
            margin-top: 15px;
            margin-bottom: 15px;
    
            overflow-y: auto;
            padding: 30px 40px;
    
    
            transition: transform 0.3s;
    
            .games-modal-close {
                font-size: 30px;
                font-weight: 300;
                cursor: pointer;
                color: rgb(150,150,150);
                position: absolute;
                right: 20px;
                top: 15px;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }
    
            .games-modal-title {
                word-wrap: break-word;
                font-weight: bold;
                font-size: 35px;
            }
            .games-modal-year {
                font-size: 25px;
                font-weight: 300;
                margin-bottom: 15px;
            }

            .games-modal-gallery-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .games-modal-gallery-display-arrow {
                    font-size: 50px;
                    font-weight: 300;
                    cursor: pointer;
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .arrow-left {
                    margin-right: 75px;
                }
                .arrow-right {
                    margin-left: 75px;
                }

                .games-modal-gallery-display-image {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }

                    .games-modal-trailer {
                        position: relative;
                        padding-bottom: 56.25%;
                        height: 0;
                        flex-grow: 1;
                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .games-modal-gallery {
                margin-top: 15px;
                margin-bottom: 30px;
                overflow-x: auto;
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 15px;
                .games-modal-gallery-image {
                    flex-shrink: 0;
                    width: 100px;
                    height: 75px;
                    margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    transition: transform 0.3s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(0.9);
                    }

                    & > img {
                        max-height: 100%;
                        max-width: 100%;
                        box-sizing: border-box;
                    }
                    .games-modal-trailer-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0.5;
                        background-color: rgba(255,255,255,0.1);
                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
                .selected {
                    &:hover {
                        transform: none;
                    }
                    & > img {
                        border: 5px solid #202344;
                    }
                }
            }

            .games-modal-nogallery {
                display: flex;
                justify-content: center;
                margin: 15px 0;
            }

            .games-modal-description {
                display: flex;
                flex-direction: row-reverse;

                .games-modal-developers {
                    background-color: rgb(230,230,230);
                    padding: 15px 20px;
                    margin-left: 50px;
                    .games-modal-developers-title {
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .games-modal-developer {
                        font-weight: normal;
                        font-size: 20px;
                        margin-bottom: 7px;
                        white-space: nowrap;
                        &:last-child {
                            margin-bottom: 0;
                        }

                        .games-modal-developer-role {
                            font-size: 15px;
                            display: block;
                            font-style: italic;
                        }
                    }
                }
                .games-modal-description-text {
                    flex-grow: 1;
                    font-size: 20px;
                    span {
                        display: block;
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    button {
                        //display: block;
                        margin-top: 30px;
                    }
                }
            }
    
    
            .games-modal-content-loading {
                display: flex;
                justify-content: center;
                img {
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }

    }
    
}

.about-container {

    .about-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        p {
            //display: block;
            text-align: justify;
            width: 800px;
            margin-top: 30px;
            line-height: 1.05;
        }
    }

    .about-management-title {
        text-align: center;
    }
    .about-management {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
        .about-manager {
            width: 300px;
            margin: 15px 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .about-manager-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                background-color: black;
                img {
                    max-width: 100%;
                }
            }

            .about-manager-name {
                margin-top: 15px;
                font-size: 35px;
                font-weight: bold;
            }
            .about-manager-title {
                font-size: 20px;
                margin-top: 10px;
            }

        }
    }


    .about-advisor {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .about-advisor-image {
            
            img {
                width: 300px;
                border: 5px solid black;
                //border-radius: 50%;
            }
            //float: left;
        }
        .about-advisor-description {
            margin-left: 50px;
            flex-grow: 1;
            .about-advisor-description-text {
                @include main-description();
                margin-bottom: 15px;
            }
            button {
                //display: block;
                margin-top: 30px;
            }
        }
    }
}

.join-container {
    .join-image {
        width: 100%;
        height: 300px;
    }
}

.contact-container {
    .contact-form {
        width: 100%;
        //height: 500px;
    }


    .contact-stopin {
        @include main-description();
    }
}
